body{
    background-image: url(assets/Parent_and_Teen4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

  }

 
